# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# PyInstaller
#  Usually these files are written by a python script from a template before PyInstaller builds the exe.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm IDE files
.idea/
*.iml

# VS Code files
.vscode/

# macOS files
.DS_Store

# Windows image file caches
Thumbs.db
